# Ignore the META directory containing UMLS RRF files.
/META

# Ignore the SQLite database we use to do some backend stuff.
./sqlite.db

# Scala output files
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
